<h1>Register</h1>
<div class="form">
    <form action="/user/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{username}}"><br>

        <label for="password">Password:</label>
        <input type="password" name="password" value="{{password}}"><br>

        <label for="firstName">First name:</label>
        <input type="text" name="firstName" value="{{firstName}}"><br>

        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" value="{{lastName}}"><br>

        <label for="profilePictureUrl">Profile Picture:</label>
        <input type="text" name="profilePictureUrl" value="{{profilePictureUrl}}"><br>

        <input type="submit" value="Register">
    </form>
</div>